!!! 5
%html{:lang => 'en'}
  %head
    :javascript
      var _sf_startpt=(new Date()).getTime()
    %meta{:charset =>"utf-8"}
    %meta{ :content => "IE=Edge,chrome=1", :http => {:equiv => "X-UA-Compatible"}}
    %meta{:name => "viewport", :content => "width=device-width, :initial-scale => 1.0"}
    %title= content_for?(:title) ? yield(:title) : "New to Ruby" 
    = stylesheet_link_tag "application", :media => "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 

  - flash.each do |name, msg| 
    = content_tag :div, msg, id: "flash_#{name}" 

    %script {:src => "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"}
    
    

    -#-- For third-generation iPad with high-resolution Retina display: -->
    -#-- Size should be 144 x 144 pixels -->
    = favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' 

    -#-- For iPhone with high-resolution Retina display: -->
    -#-- Size should be 114 x 114 pixels -->
    = favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' 

    -#-- For first- and second-generation iPad: -->
    -#-- Size should be 72 x 72 pixels -->
    = favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' 

    -#-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    -#-- Size should be 57 x 57 pixels -->
    = favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' 

    -#<!-- For all other devices -->
    -#<!-- Size should be 32 x 32 pixels -->
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' 
  
  %body
    %div.navbar.navbar-fluid-top
      %div.navbar-inner
        %div.container-fluid
          %a.btn.btn-navbar{:data => {:target =>".nav-collapse", :toggle => "collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          
          %a.brand{:href => "#"}Installation Tools
          %div.container-fluid.nav-collapse
            %ul.nav 
              %li= link_to "Rails One Click (Mac)", "http://railsoneclick.com", :target => '_blank' 
              %li= link_to "Rails Installer (Windows/Mac)", "http://railsinstaller.org/", :target => '_blank' 
              
            

    %div.container-fluid 
      - flash.each do |name, msg| 
        %div.alert{:class => "alert-#{name == :notice ? "success" : "error" }"}
          %a.close{:data => {:dismiss => "alert"}}×
          = msg 
        
      
      %div.row-fluid

        %div.span3
          %div.well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header Free Interactive Resources
              %li= link_to "Try Ruby", "http://tryruby.org", :target => '_blank' 
              %li= link_to "Code Academy", "http://www.codeacademy.com", :target => '_blank'  
              %li= link_to "Ruby Monk", "http://rubymonk.com/", :target => '_blank'  

              %li.nav-header Paid Resources
              %li= link_to "Treehouse ($25mo)", "http://www.teamtreehouse.com", :target => '_blank'  
              %li= link_to "Code School ($25mo)", "http://www.codeschool.com", :target => '_blank'  
              %li= link_to "Railscasts ($9mo)", "http://www.railscasts.com/", :target => '_blank'  

              %li.nav-header Ruby Podcasts
              %li= link_to "The Change Log", "http://www.thechangelog.com/", :target => '_blank' 
              %li= link_to "Ruby5", "http://ruby5.envylabs.com/", :target => '_blank'  
              %li= link_to "Ruby Rogues", "http://rubyrogues.com/", :target => '_blank'  
              %li= link_to "The Ruby Show", "http://rubyshow.com/", :target => '_blank'  

              %li.nav-header Ruby Tutorials
              %li= link_to "Jumpstart Lab", "http://tutorials.jumpstartlab.com/", :target => '_blank' 
              %li= link_to "Ruby in 20 Minutes", "http://www.ruby-lang.org/en/documentation/quickstart/", :target => '_blank'  
              %li= link_to "Ruby Learning", "http://rubylearning.com/satishtalim/tutorial.html", :target => '_blank'  
              %li.nav-header Open Source Projects
              %li= link_to "Open Source Rails", "http://www.opensourcerails.com", :target => '_blank' 

              %li.nav-header Contact Info
              %li= link_to "dennis@thecommongeek.com", "mailto:dennis@thecommongeek.com", :target => '_blank'  
              %li= link_to "Github", "http://www.github.com/denniskeefe", :target => '_blank'  
           
        %div.span9
          = bootstrap_flash 
          = yield

      %footer
        %p &copy; thecommongeek 2013

    -#-- Javascripts
    
    -#-- Placed at the end of the document so the pages load faster -->
:javascript
  var _sf_async_config = { uid: 46444, domain: 'newtoruby.org' };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src',
        (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
        "js/chartbeat.js");
      document.body.appendChild(e);
    };
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
      loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
